#blank {
    border-radius: 10px;
    width: 900vh;
    height: 35px;
    background-color: rgb(9, 9, 86);
    color: white;
    font-size: 30px;
    padding-left: 20px;
}

#hero {
    height: 700px;
    width: 900vh;
    background-color: rgb(180, 26, 180);
    padding-left: 30px;
    color: white;
    padding-top: 20px;
    border-radius: 10px;
}

.b1 {
    display: flex;
    position: relative;
    left: 180vh;
    background-color: rgb(186, 247, 63);
    height: 30px;
    width: 80px;
    font-size: 15px;
}

.p1 {
    font-size: 60px;
}

.s1 {
    font-size: 21px;
font-weight: bold;
}

#img {
    height: 430px;
    width: 500px;
    border: 2px solid white;
    background-image: url(tea.webp);
    background-size: cover;
    left: 120vh;
    position: absolute;
    top: 150px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 7px rgb(144, 145, 145);
}

#mail {
    height: 33px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.b2 {
    height: 35px;
    width: 200px;
    background-color: rgb(186, 247, 63);
    border: 2px solid black;
    border-radius: 14px;
    font-weight: bold;
}

#r {
    padding-top: 50px;
    display: flex;
    flex-direction: row;


}

#r1 {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(11, 11, 11);
    border-radius: 50%;
    background-color: rgb(206, 253, 86);
}

.r2 {

    height: 50px;
    width: 50px;
    border: 1px solid wheat;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    background-color: rgb(65, 9, 95);
}